body {
    background-color: #e9d8a6;
}

h3 {
    margin-top: 3rem;
    text-align: center;
    color: #9b2226;
}
h5 {
    text-align: center;
    color:#ee9b00 ;
}

.container {
    display: flex;
    justify-content: space-between;
}

.frase {
    margin: 3rem 8rem;
    text-align: center;
    color: #005f73;
}